body {
    background-color: white;
}

.hover {
    background-color: darkgray;
}

.button {
    height: 100px;
    width: 150px;
    background-color: orange;
}

#screen {
    width: 456px;
    height: 50px;
}

.calcBackground{
    width: 622px;
    margin: 20px;
    background-color: darkgrey;
}